*logs*
*.log
*~
_vim/ropevim/src*
_vim/ropevim/pylibs*
_vim/bundle/acp*
_vim/bundle/git*
*.swp
_config/CuteCom/
_config/OpenSCAD/
_config/QtProject.conf
_config/Skype/
_config/Trolltech.conf
_config/VirtualBox/
_config/Xilinx/
_config/autostart/
_config/brasero/
_config/chromium/
_config/corebird/
_config/dumpty/
_config/enchant/
_config/evince/
_config/gconf/
_config/geany/
_config/google-chrome-beta/
_config/libreoffice/
_config/mimeapps.list
_config/nautilus/
_config/obs-studio/
_config/ocrfeeder/
_config/okularpartrc
_config/okularrc
_config/projectM/
_config/ranger/
_config/smplayer/
_config/sqlitebrowser/
_config/vlc/
